<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620822065049-sf2uqo1c4b62i8divftsimohkmnq374l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620822065049-sf2uqo1c4b62i8divftsimohkmnq374l</string>
	<key>API_KEY</key>
	<string>AIzaSyCmfte1SC9OUxqM9_MYEoRdAoSmyAxmMl4</string>
	<key>GCM_SENDER_ID</key>
	<string>620822065049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sam.PoopTracker</string>
	<key>PROJECT_ID</key>
	<string>pooptracker-9856d</string>
	<key>STORAGE_BUCKET</key>
	<string>pooptracker-9856d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620822065049:ios:abb71225873eb9d6256d08</string>
	<key>DATABASE_URL</key>
	<string>https://pooptracker-9856d.firebaseio.com</string>
</dict>
</plist>